---
layout: post
title: "First Blog"
date: 2008-10-07T01:10:00-07:00
comments: false
---

<div class='post'>
<span class="Apple-style-span"  style="font-family:'lucida grande';">Hi everyone who's reading this. This is my first blog. I'm planning to put any poems I write that I think you might find interesting (or photos I take, or anything else that interests me). I hope you like it.</span></div>
