---
layout: post
title: "Murphy's Law"
date: 2008-11-28T19:16:00-08:00
comments: false
categories:
 - Murphy's Law
 - Paradox
---

<div class='post'>
    Murphy's Law states "If anything can go wrong it will go wrong." The question is "Can that be proven conclusively?"<div>My dad and I were theorizing about it a while back and came to this paradoxical conclusion- Murphy's law cannot be proven wrong in any circumstance. Murphy's law is always proven wrong in every circumstance.</div><div>See if you can work out how it works!</div><div>Edit: Here's how it works.<div>If something goes wrong, then nothing has gone wrong with the law. Thus something that can go wrong hasn't.</div><div><br /></div><div>If something hasn't gone wrong, then the something <i>has </i>gone wrong with the law</div></div>
