---
layout: post
title: "Running Classic Apps on Snow Leopard"
date: 2010-04-01T02:06:00-07:00
comments: false
---

<div class='post'>
I came home today, and found my mum trying to get an old pre-OSX game to work on our mac running Snow Leopard. In preference to digging out one of our old macs, I thought it might be a good idea to try and find a classic OS emulator on the net. It didn't take long to find one, but having downloaded Sheepshaver, I couldn't get hold of a working ROM. I tried all the strategies suggested on the website, including trying to extract the ROM from an update, but to no avail. Having given up on that, I searched the web for sites with ROMs available for download. I eventually found one, but none of the ROMs worked. Finally, just as I was about to give up, I found a site which explained everything beautifully, <i>and</i> included a link to a working ROM. After following all the instructions, and finding everything worked perfectly, exactly as described in the article, I decided to post this post to make it that much easier for other people to find the page. So, after all that, here's the link.<div><br /></div><div><a href="http://lowendmac.com/mac2win/08m2w/sheepshaver-for-mac-os-x.html">Classic on a modern mac</a></div><div><br /></div><div>Hopefully you'll be up and running a lot faster than I was.</div><div><br /></div><div><br /></div><div><br /></div></div>
