---
layout: post
title: "Lego Mindstorms NXT on Snow Leopard (Mac OS 10.6)"
date: 2011-04-22T17:07:00-07:00
comments: false
---

<div class='post'>
The other day I pulled out my lego robotics kit, and put together a little robot. To program it, you have to install an application off the CD that comes with it. I put the disc in, installed the program and launched it. After waiting several seconds, the app loaded, then quit. I repeated this process multiple times, and concluded that the app was broken. After trying many different fixes suggested on the web, I finally found one that worked. It turns out that Lego Mindstorms NXT relies on an outdated version of flash to run. I downloaded the uninstaller off the Adobe website and uninstalled flash, then uninstalled the lego program, then ran the installer again. This time it installed flash 8, instead of flash 10 which I was using before. Amazingly, the program worked. It's not the most desirable workaround, because I'm forced to use an outdated version of flash, which probably has many more security vulnerabilities. However, it was the only workaround that worked. Hopefully Lego will put out an updated version of the software that works with the latest version of flash.<br /><br />UPDATE: After installing NXT with flash uninstalled, so it installed its own version of flash, my dad discovered that it continued to work when he updated back to flash 10... Obviously it needs to <i>install</i> flash eight, but doesn't care what you do once it is installed.</div>
