---
layout: post
title: "History and Memory: Mark Baker's Fiftieth Gate."
date: 2011-10-12T21:19:00-07:00
comments: false
---

<div class='post'>
I've uploaded some notes on Mark Baker's <i>Fiftieth Gate</i>&nbsp;<a href="https://docs.google.com/document/d/1s0K0s7Lk4s8j-i_gYuriiKpeozGesBfIiKpvIrpVtOI/edit?hl=en_GB">here</a>, in case anyone studying the HSC module "History and Memory" wants to look at them.</div>
