---
layout: post
title: "Steam for Windows on Mac in Wine"
date: 2012-10-06T07:13:00-07:00
comments: false
---

<div class='post'>
    I use a Mac, but occasionally I want to run Windows games. I usually try to use Wine if possible, because it means I don't have to reboot to run my games. The other day my friend told me about a cool sounding game on Steam, and suggested I play the demo. The catch? It was only released for Windows. I decided to try installing Steam for Windows in Wine, but every time I tried to run the installer, it gave me the following error message: <p><code>wine: Bad EXE format for Z: /path/to/SteamInstall.msi</code></p> At first I thought it was a problem with Wine, but after some research I found the following <a href="http://www.pclinuxos.com/forum/index.php?topic=78610.0" target="_blank">forum page</a>, in which a helpful person called "schtufbox" gave instructions on how to execute .msi files in Wine.<br /><br />Apparently (and this worked!) instead of typing <p><code>wine ./file.msi</code></p> you type <p><code>wine msiexec /i file.msi</code></p> I tried it and it worked! Yay!</div>
