---
layout: post
title: "Disk image: No mountable file systems"
date: 2012-06-04T04:47:00-07:00
comments: false
---

<div class='post'>
    I downloaded a disk image recently, but it refused to mount, complaining that there were "no mountable file systems". I tried redownloading it, because I knew that this error can be due to incomplete or corrupted disk images, but it still refused to open. After reading through countless webpages which told me to use long convoluted methods and third party data recovery software, I finally found a nice short Terminal command that worked on&nbsp;<a href="http://www.techiecorner.com/2547/mac-open-dmg-file-no-mountable-file-system-error/">this site</a>. The command was<br /><br />
    <p><code>hdiutil convert /path/to/yourfile.dmg -format UDRW -o newfilename.dmg</code></p><br />After using this command, a new disk image was created, which worked when I clicked on it. =D
</div>
